body {
	background-color: #f2f2f2;
  font-family: 'Exo 2', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main-content {
  max-width: 38rem;
	background-color: white;
	border-radius: 0.75rem;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	margin: 100px auto;
  padding-bottom: 1.5rem;
}

#main-content h1{
  padding-top: 2rem;
	text-align: center;
  font-size: 2.2rem;
}

p {
  text-align: center;
  margin: 1rem;
  padding: 1rem;
  font-size: 1.1rem;
}

label,
input {
	display: flex;
	padding: 0.5rem;
	margin-left: 7.5rem;
  font-size: 1rem;
  
}

input{
  width: 55%;
  margin: auto;
  margin-bottom: 1.5rem;
  border: none;
  outline: none;
  box-sizing: border-box;
  border-bottom: 1.5px solid #79DAE8;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

#main-content #btn {
  display: grid;
  margin: auto;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
	width: 40%;
	padding: 0.75rem;
	border: none;
	border-radius: 0.3rem;
	background-color: #79dae8;
	color: #e8f9fd;
	box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  font-size: 1rem;
}

#main-content #btn:hover {
  background-color: #92C7CF;
  transform: scale(1.03);
}

#total {
  padding-left: 0.5rem;
  font-weight: bold;
  font-size: 1rem;
  color: #35A29F;
}